body {
	font-family: Roboto, sans-serif;
}

/*Grid*/
.column1 {  width: 8.33%;   }
.column2 {  width: 16.66%; }
.column3 {  width: 25%;      }
.column4 {  width: 33.33%; }
.column5 {  width: 41.66%; }
.column6 {  width: 50%;      }
.column7 {  width: 58.33%; }
.column8 {  width: 66.66%; }
.column9 {  width: 75%;      }
.column10 {  width: 83.11%; }
.column11 {  width: 91.66%; }
.column12 {  width: 100%;    }

div[class*="column"] {  
	float: left;
	box-sizing: border-box;
	padding: 8px;
}

section[class*="column"] {  
	float: left;
	box-sizing: border-box;
	padding: 15px;
}

.row {
	margin-left: -15px; 
	margin-right: -15px;
}

.row:after,
.clearfix:after {
	content:""; 
	display: block; 
	clear: both;
}

.pull-right {
	float:right
}  

.pull-left {
	float:left
}

.text-right{
	text-align:right;
} 

.text-center {
	text-align:center;
}

.inline-block {
	display: inline-block;
}  

ul.list-inline {
	padding:0; margin:0
}

ul.list-inline > li {
	display: inline-block;
	margin: 0;
	padding: 0;
} 

.inline {
	display: inline
}
.container { 
	width: 1140px; 
	margin: 0 auto;
}
/*Grid*/

/*Header*/
header {
	background-color: #2c2c2c;
}

.header__logo {
	color: white;
	font-size: 22px;
	font-weight: 500;
	line-height: 70px;
	display: inline-block;
	float: left;
}

header li a {
	color: white;
	line-height: 70px;
	padding: 10px 7px 8px 11px;
	border: 1px solid transparent;
	text-decoration: none;
	margin-right: 5px;
}

header li a:hover {
	border: 1px solid white;
}
/*Header*/

/*Promo*/
.promo {
	position: relative;
	height: 643px;
	background-image: url(../img/bg-promo.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
}

.promo h1 {
	color: white;
	font-size: 66px;
	font-weight: 500;
	text-align: center;
	margin: 0;
	padding-top: 170px;
	width: 690px;
	display: inline-block;
}

.promo__more {
	display: block;
	margin: 0 auto;
	position: absolute;
	color: white;
	border: 1px solid white;
	font-size: 18px;
	font-weight: 500;
	padding: 13px 14px 12px 13px;
	text-decoration: none;
	width: 92px;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 97px;
}

.promo__arrow {
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 33px;
	width: 18px;
	height: 29px;
}
/*Promo*/

/*Features*/
.features__text {
	font-size: 18px;
	font-weight: 500;
	color: #444444;
	padding: 16px 0 9px 88px;
	margin-top: 60px;
	margin-bottom: 50px;
}

.first {
	background-image: url(../img/features1.png);
	background-repeat: no-repeat;
	background-position: 0 center;
}

.second {
	background-image: url(../img/features2.png);
	background-repeat: no-repeat;
	background-position: 0 center;
}

.third {
	background-image: url(../img/features3.png);
	background-repeat: no-repeat;
	background-position: 0 center;
}

.fourth {
	background-image: url(../img/features4.png);
	background-repeat: no-repeat;
	background-position: 0 center;
}
/*Features*/

/*Brief*/
.brief {
	padding-bottom: 91px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 73px;
}

.brief__header {
	color: #444444;
	font-size: 32px;
	font-weight: 500;
	position: relative;
}

.brief__header:after {
	content: "";
	height: 6px;
	width: 62px;
	background-color: #3e98d7;
	bottom: -18px;
	left: 0;
	position: absolute;
}

.brief__info {
	color: #444444;
	font-size: 18px;
	padding-top: 35px;
	width: 356px;
}

.brief__video {
	padding-top: 50px;
}


/*Brief*/

/*Gallery*/
.gallery__header {
	text-align: center;
	position: relative;
	font-size: 32px;
	font-weight: 500;
	color: #444444;
}

.gallery__header:after {
	content: "";
	height: 6px;
	width: 62px;
	background-color: #3e98d7;
	bottom: -20px;
	left: 540px;
	position: absolute;	
}

.gallery__slide {
	padding-top: 66px;
	padding-bottom: 90px;
}

.owl-carousel {
	margin-top: 60px;
	margin-bottom: 90px;
}

.owl-carousel img {
	border-radius: 10px;
}
/*Gallery*/

/*Fly*/
.fly__header {
	text-align: center;
	font-size: 32px;
	font-weight: 500;
	color: #444444;
	position: relative; 
}

.fly__header:after {
	content: "";
	height: 6px;
	width: 62px;
	background-color: #3e98d7;
	bottom: -20px;
	left: 536px;
	position: absolute;	
}
/*Fly*/

/*Count*/
.count {
	background-color: #f2f2f2;
	margin-bottom: 52px;
}

.count__text {
	color: #26668e;
	font-weight: 500;
	font-size: 32px;
	line-height: 100px;
}

.count__time {
	padding: 0;
	line-height: 100px;
}


/*Count*/

/*Price*/
.price {
	padding-bottom: 56px;
	border-bottom: 1px solid #cccccc;
}

.price__title {
	color: #444444;
	font-size: 32px;
	font-weight: 500;
	position: relative;
	margin-bottom: 48px;
}

.price__title:after {
	content: "";
	height: 6px;
	width: 62px;
	background-color: #3e98d7;
	bottom: -20px;
	left: 0;
	position: absolute;	
}

.price__info {
	font-size: 	18px;
	color: #444444;
	margin-bottom: 10px;
	width: 440px;
}

.price__order {
	margin-top: 20px;
	margin-left: 20px;
}

.price__order__label {
	color: #444444;
	font-size: 18px;
	margin-top: 7px;
	display: inline-block;
	margin-left: 65px;
}

.price__order__input--tel {
	height: 34px;
	width: 315px;
	border-radius: 4px;
	border: 1px solid #d5d5d5;
	margin-left: -0px;
	padding-left: 38px;
	background-image: url(../img/input-tel.png);
	background-repeat: no-repeat;
	background-position: 4% center;
}

.price__order__input--name {
	height: 34px;
	width: 315px;
	border-radius: 4px;
	border: 1px solid #d5d5d5;
	margin-left: -0px;
	padding-left: 38px;
	background-image: url(../img/input-name.png);
	background-repeat: no-repeat;
	background-position: 4% center;
}

.price__order__select {
	height: 38px;
	width: 353px;
	border-radius: 4px;
	border: 1px solid #d5d5d5;
	margin-left: -0px;
	padding-left: 10px;
}

.price__order__footer__text {
	color: #444444;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	padding-right: 14px;
	margin-left: 65px;
	vertical-align: middle;
	margin-top: 8px;
}

.price__order__footer__price {
	color: #f97e7e;
	font-weight: 500;
	font-size: 38px;
	display: inline-block;
	margin-top: 8px;
	vertical-align: middle;
}

.price__order__footer__button {
	background-color: #46b0dc;
	color: white;
	padding: 13px 42px 14px 38px;
	font-weight: 500;
	font-size: 18px;
	border-radius: 4px;
	text-decoration: none;
	margin-top: 6px;
	display: inline-block;
	margin-left: 134px;
}
/*Price*/

/*FAQ and Payment*/
.fp__titlepayment {
	color: #444444;
	font-size: 32px;
	font-weight: 500;
	position: relative;
	margin-bottom: 48px;
}

.fp__titlepayment:after {
	content: "";
	height: 6px;
	width: 62px;
	background-color: #3e98d7;
	bottom: -20px;
	left: 0;
	position: absolute;	
}

.fp__titlefaq {
	color: #444444;
	font-size: 32px;
	font-weight: 500;
	position: relative;
	margin-bottom: 48px;
}

.fp__titlefaq:after {
	content: "";
	height: 6px;
	width: 62px;
	background-color: #3e98d7;
	bottom: -20px;
	left: 0;
	position: absolute;	
}

.fp__sposob1 {
	font-weight: 500;
	font-size: 26px;
	color: #444444;
	padding-top: 10px;
}

.fp__sposob2 {
	font-weight: 500;
	font-size: 26px;
	color: #444444;
	padding-top: 25px;
}

.fp__text {
	font-size: 18px;
	font-weight: normal;
}

.fp__text--under {
	text-decoration: underline;
}

.fp__titlequestion {
	padding: 6px 0 6px 60px;
	font-size: 18px;
	font-weight: 500;
	background-image: url(../img/icon-question.png);
	background-repeat: no-repeat;
	-webkit-background-size: 0% center;
	background-size: 0% center;
	color: #444444;
	margin: 0;
}

.fp__question {
	padding-left: 81px;
	padding-bottom: 53px;
	font-size: 16px;
	color: #444444;
	margin: 0;
	margin-top: 6px;
}
/*FAQ and Payment*/

/*Info*/
.info {
	margin-top: 85px;
	background-image: url(../img/bg-info.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 75px 30px 30px 30px;
	overflow: hidden;
}

.info__column {
	padding-right: 45px;
	text-align: center;
}

.info__number {
	background: url(../img/ellipse.png) 0 0 no-repeat;
    width: 160px;
    height: 160px;
    display: inline-block;
    text-align: center;
    font-size: 42px;
    color: #ffffff;
    font-weight: 500;
    line-height: 160px;
    margin-bottom: 25px;
    text-align: center;
}

.info__text {
	font-size: 24px;
    color: white;
    font-weight: 500;
    display: block;

}
/*Info*/

/*Team*/
.team {
	margin-bottom: 110px;
	margin-top: 61px;
}

.team__title {
	font-size: 32px;
	font-weight: 500;
	color: #444444;
	text-align: center;
	position: relative;
}

.team__title:after {
	content: "";
	height: 6px;
	width: 62px;
	background-color: #3e98d7;
	bottom: -20px;
	left: 536px;
	position: absolute;	
}

.team__item {
	padding-right: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 54px;
}

.team__item__photo {
	display: inline-block;
    width: 174px;
    height: 174px;
    position: relative;
    margin-bottom: 25px;
}

.team__item__name {
	color: #444444;
	font-weight: 500;
	font-size: 22px;
	display: block;
	margin-bottom: 10px;
}

.team__item__position {
	color: #444444;
	font-weight: 500;
	font-size: 18px;
	display: block;
	margin-bottom: 110px;
}

.one {
	background-image: url(../img/team1.png);
	background-repeat: no-repeat;
	background-position: center;
}

.one:hover {
	background-image: url(../img/team-after1.PNG);
}

.two {
	background-image: url(../img/team2.png);
	background-repeat: no-repeat;
	background-position: center;
}

.two:hover {
	background-image: url(../img/team-after1.PNG);
}

.three {
	background-image: url(../img/team3.png);
	background-repeat: no-repeat;
	background-position: center;
}

.three:hover {
	background-image: url(../img/team-after2.PNG);
}

.four {
	background-image: url(../img/team4.png);
	background-repeat: no-repeat;
	background-position: center;
}

.four:hover {
	background-image: url(../img/team-after3.PNG);
}
/*Team*/

/*Reviews*/
.reviews {
	text-align: center;
}

.reviews__title {
	color: #444444;
	font-size: 32px;
	font-weight: 500;

}

.reviews__title:after {

}

.reviews__item {
	margin-top: 43px;
	text-align: center;
}

.reviews__item__autor {
	font-size: 22px;
	color: #444444;
	font-weight: 500;
	display: block;
	margin-top: 15px;
}

.reviews__item__text {
	color: #444444;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 65px;
}
/*Reviews*/

/*Contacts*/
.contacts {
	background-image: url(../img/bg-contacts.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	
}

.contacts__icon {
	background-color: #337ba0;
	padding: 12px 11px 10px 10px;
	border-radius: 4px;
	margin-top: 55px;
	margin-bottom: 20px;
}

.contacts__title {
	display: block;
	font-size: 26px;
	font-weight: 500;
	color: #444444;
}

.contacts__address {
	display: block;
	font-size: 18px;
	font-weight: 500;
	color: #616161;
	margin-top: 8px;
}

.contacts__item {
	text-align: left;
	background-image: url(../img/check.png);
	background-repeat: no-repeat;
	background-position: 1% 18%;
	margin-top: 49px;
}

.contacts__item__title {
	font-size: 22px;
	font-weight: 500;
	color: #2b2b2b;
	display: block;
	padding-left: 60px;
	margin-bottom: 12px;
}

.contacts__item__address {
	font-size: 20px;
	font-weight: 500;
	color: #616161;
	padding-left: 62px;
	display: block;
}

.contacts__item__time {
	font-size: 20px;
	font-weight: 500;
	color: #616161;
	padding-left: 62px;
	display: block;
	margin-bottom: 12px;
}

.contacts__item__tel {
	font-size: 26px;
	font-weight: 500;
	color: #2b2b2b;
	display: block;
	padding-left: 62px;
	margin-bottom: 60px;
}

.contacts__item__mail {
	font-size: 22px;
	font-weight: 500;
	padding-left: 46px;
	margin-top: 49px;
	display: block;
	background-image: url(../img/icon-mail.png);
	background-repeat: no-repeat;
	background-position:  0 50%;
	color: #444444;
	padding-bottom: 5px;
	margin-bottom: 29px;
}

.contacts__item__social {
	margin-right: 22px;
}

.vk:hover {
	opacity: 0.7;
}

.fb:hover{
	opacity: 0.7;
}

.inst:hover {
	opacity: 0.7;
}

.left {
	text-align: left;
}
/*Contacts*/

/*Footer*/
footer {
	background-color: #2c2c2c;
}

.footer__logo {
	color: white;
	font-size: 22px;
	font-weight: 500;
	line-height: 70px;
	display: inline-block;
	float: left;
}

.header__logo {
	color: white;
	font-size: 22px;
	font-weight: 500;
	line-height: 70px;
	display: inline-block;
	float: left;
}

footer li a {
	color: white;
	line-height: 70px;
	padding: 10px 7px 8px 11px;
	border: 1px solid transparent;
	text-decoration: none;
	margin-right: 5px;
}

footer li a:hover {
	border: 1px solid white;
}
/*Footer*/


